* {
    box-sizing: border-box;
    /* width: 100%; */
    /* border: dotted #8ddbb7 10px; */
    padding: 5px;
    
}

:root {
    --primary-background: #bb7474;
    --secondary-background: #FFFFF0;
    
    --padding: 20px;
}

body {
    background-image:url(../assets/avatars/big bird.jpg);
    object-position: center;
    background: var(--primary-background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    padding: var(--padding);
}

h1 {
    margin: 0;
}

ul {
    display: flex;
    transform: skewX(-1deg);
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    text-align: center;
    object-fit: contain;
    width: 400px; 
    height: 400px;
    display:grid;
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 50% 50%; */
    grid-template-rows: auto auto 1fr auto auto;
    place-items: center;
    background: mistyrose;
    border: 3px solid mediumseagreen;
}

img {
    
    width: 150px;
    height: 150px;
}

button {
    width: 40px;
    
    cursor: pointer;
    transition: all 3000ms ease-in-out;}
    

button:hover {
    width:400px;
    border-radius: 10% 30% 50% 70%;
}
