* {
    box-sizing: border-box;
    /* width: 100%; */
    /* border: dotted #8ddbb7 10px; */
    padding: 5px;
}

:root {
    --primary-background: #c9c9c9;
    --secondary-background: #FFFFF0;
    
    --padding: 20px;
}

body {
    background: var(--primary-background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    padding: var(--padding);
}

h1 {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

li {
    width: 175px; 
    height: 400px;
    display:grid;
    /* grid-template-columns: 50% 50%; */
    /* grid-template-rows: 50% 50%; */
    grid-template-rows: auto auto 1fr auto auto;
    place-items: center;
    background: mistyrose;
    border: 3px solid mediumseagreen;
}

img {
    
    width: 150px;
    height: 150px;
}
/* li:hover {
    box
} */